@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HOTEL CALIFORNIA</h1>
    <p class="lead">The hotel "California" is a brand new project started by some guy</p>
    <p><a href="https://www.youtube.com/watch?v=UehilhnMt5Y" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>
            This hotel is synonimous with excellent service, and a wonderful website where you can register to any of our beautifully cared for rooms!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Be aware</h2>
        <p>
            The website is still being built, so theres bound to be some turbulance along the way, however with patience, you will surely be satisfied.
        </p>
    </div>
</div>